.places h1{
  text-align: left;
  vertical-align: top;
  font-size: 30px;
}
.places h2{
  font-size: 30px;
  text-align: center;
}
article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.price_by_night {
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 50px;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  padding: 10px;
}
.information {
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
}
.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  margin: 10px;
}
.guest_icon {
  background-image: url("../images/icon_group.png");
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
}
.bed_icon {
  background-image: url("../images/icon_bed.png");
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  position: relative;
}
.bath_icon {
  background-image: url("../images/icon_bath.png");
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  position: relative;
}

